<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="alumnos">
      <ion-icon name="triangle"></ion-icon>
      <ion-label>Alumnos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="incidencias">
      <ion-icon name="ellipse"></ion-icon>
      <ion-label>Incidencias</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="actuaciones">
      <ion-icon name="square"></ion-icon>
      <ion-label>Actuaciones</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
