<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Incidencias
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-list>
    <ion-card *ngFor="let incidencia of incidencias"> 
      <ion-card-header color="primary">{{incidencia.sintomatologia}}</ion-card-header>
      <ion-card-content>{{incidencia.fecha}}
        <ion-button (click)="eliminarIncidencia(incidencia.identificador)">
          <ion-icon name="trash"></ion-icon>
        </ion-button>
      </ion-card-content>

    </ion-card>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="anadirIncidencia()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
