<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Alumnos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-card *ngFor="let alumno of alumnos" [routerLink]="['/alumnos' , alumno.identificador]">
      <ion-card-header color="secondary">{{alumno.nombre}} {{alumno.apellido1}} {{alumno.apellido2}}</ion-card-header>
      <ion-card-content><b>{{alumno.dni}}</b> / {{alumno.direccion}} / {{alumno.telefono}}</ion-card-content>      
      <ion-icon name="trash" slot="end" color="black"></ion-icon>
    </ion-card>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="anadirAlumno()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
