<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Alumnos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-card *ngFor="let alumno of alumnos">
      <ion-card-header color="secondary" [routerLink]="['/alumnos' , alumno.identificador]">
        {{alumno.nombre}} {{alumno.apellido1}} {{alumno.apellido2}}
      </ion-card-header>
      <ion-card-content>
        <b>{{alumno.dni}}</b> / {{alumno.direccion}} / {{alumno.telefono}} 
      </ion-card-content>      
    </ion-card>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="anadirAlumno()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
