<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Actuaciones
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-list>
    <ion-card *ngFor="let actuacion of actuaciones">
      <ion-card-header color="primary">{{actuacion.ultimoDiaClase}}</ion-card-header>
      <ion-card-content>
        Incidencia:{{actuacion.incidencia.identificador}}/{{actuacion.incidencia.sintomatologia}}
        PCR:{{actuacion.listaPCR[0].estado}}
        <ion-button (click)="eliminarActuacion(actuacion.identificador)">
          <ion-icon name="trash"></ion-icon>
        </ion-button>
      </ion-card-content>
    </ion-card>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="anadirActuacion()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
