<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref='/alumnos'></ion-back-button>
    </ion-buttons>
    <ion-title>Añadir Alumno</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>ID:</ion-label>
    <ion-input [(ngModel)]="alumno.identificador" placeholder="Escriba el id"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>DNI:</ion-label>
    <ion-input [(ngModel)]="alumno.dni" placeholder="Escriba el dni"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Nombre:</ion-label>
    <ion-input [(ngModel)]="alumno.nombre" placeholder="Escriba el nombre"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Apellido1:</ion-label>
    <ion-input [(ngModel)]="alumno.apellido1" placeholder="Escriba el apellido1"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Apellido2:</ion-label>
    <ion-input [(ngModel)]="alumno.apellido2" placeholder="Escriba el apellido2"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Telefono:</ion-label>
    <ion-input [(ngModel)]="alumno.telefono" placeholder="Escriba el telefono"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Direccion:</ion-label>
    <ion-input [(ngModel)]="alumno.direccion" placeholder="Escriba la direccion"></ion-input>
  </ion-item>

  <ion-button color="primary" (click)="addAlumno()">
    Enviar
  </ion-button>
</ion-content>
