<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref='/alumnos'></ion-back-button>
    </ion-buttons>
    <ion-title>Perfil</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="updateAlumno()">
        <ion-icon name="save"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-item>
      <ion-label><b>Nombre:</b></ion-label>
      <ion-input type="text" name="nombre" [(ngModel)]="form.nombre"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label><b>Apellido1:</b></ion-label>
      <ion-input type="text" name="apellido1" [(ngModel)]="form.apellido1"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label><b>Apellido2:</b></ion-label>
      <ion-input type="text" name="apellido2" [(ngModel)]="form.apellido2"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label><b>DNI:</b></ion-label>
      <ion-input type="text" name="dni" [(ngModel)]="form.dni"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label><b>Direccion:</b></ion-label>
      <ion-input type="text" name="direccion" [(ngModel)]="form.direccion"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label><b>Telefono:</b></ion-label>
      <ion-input type="text" name="telefono" [(ngModel)]="form.telefono"></ion-input>
    </ion-item>
  </ion-card>

  
  <ion-card>
    <ion-card-header>
      Responsables:
    </ion-card-header>
      <ion-item *ngFor="let responsable of form.responsables">
        <ion-item>
          <ion-label><b>Nombre:</b></ion-label>
          <ion-input>{{responsable.nombre}}</ion-input>
        </ion-item>
        <ion-item>
          <ion-label><b>Telefono:</b></ion-label>
          <ion-input>{{responsable.telefono}}</ion-input>
        </ion-item>
      </ion-item>
  </ion-card>

  <ion-card>
    <ion-card-header>
      Datos Médicos:
    </ion-card-header>
      <ion-item>
        <ion-label><b>Alergias:</b></ion-label>
        <ion-input type="text" [(ngModel)]="form.alergias"></ion-input>
      </ion-item>
  </ion-card>

  <ion-card>
    <ion-card-header>
      Tiempo cuarentena:
    </ion-card-header>
    <ion-item>
      <ion-label>Inicio Cuarentena</ion-label>
      <ion-datetime placeholder="inicio"
                    (ngModel)="ultimoDia.toISOString()"
                    display-format="DD/MM/YYYY"
                    cancelText="Cancelar" doneText="Aceptar"></ion-datetime>
    </ion-item>
  </ion-card>
</ion-content>
